/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    padding:0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3, h4, h5{
    font-family: 'Oswald', sans-serif;
    color: #131313;
    text-transform: uppercase;
}

a{
    color: #f99b08;
    text-decoration: none;
}
a:hover{
    color: #f99b08;
    text-decoration: underline;
}
p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
hgroup h1{
    font-family: 'Oswald', sans-serif;
    font-size:38px;
    font-weight:normal;
    text-transform:uppercase;
    color:White;
    line-height:1;
}

hgroup h2{
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    font-weight:300;
    text-transform:uppercase;
    color:#f99b08;
    line-height:1;
    padding:0 0 10px 0;
}

body{
    text-align:center;
}

.main{
    background-color: #131313;
    overflow: hidden;
}

.main .header{
    text-align:left;
    color:White;
}

.logo a{
    width:193px;
    height:142px;
    overflow: hidden;
    background: url(../img/logo.png) no-repeat;
    display: block;
    margin: 0 auto;
}

.headWrap{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    min-height: 400px;
}

.headWrap.details{
    min-height: 260px;
}
.details{
    font-family: 'Lato', sans-serif;
}
.details h3{
    font-weight: normal;
    color: #7d7d7d;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
}
.details p{
    font-size: 18px;
}
.details .answer{
    font-size: 18px;
    margin: 0 0 0 5px;
}
.details .resource{
    margin: 0 0 30px 0;
}
.fileBtn{
    padding: 5px 10px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    border: solid 1px #bcbcbc;
    background: #ffffff; 
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWRlZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #dedede 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#dedede 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#dedede 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#dedede 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#dedede 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-8 */
    text-transform: uppercase;
    color: #555;
    font-family: 'Lato', sans-serif;
}
.fileBtn:hover{
    color: #555;
    text-decoration: none;
    background: #f99b08; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5OWIwOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDczMDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f99b08 0%, #ed7309 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f99b08), color-stop(100%,#ed7309)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f99b08 0%,#ed7309 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f99b08 0%,#ed7309 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f99b08 0%,#ed7309 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f99b08 0%,#ed7309 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99b08', endColorstr='#ed7309',GradientType=0 ); /* IE6-8 */
    color: #fff;
}
.results.apps > div .listType{
    padding: 0 25px 0 0;
    width: 120px;
}
.results.apps > div h3{
    line-height: 1;
}
.home .header nav{  
    text-align:center;
}

.home .header .nav{
    font-family: 'Oswald', sans-serif;
    font-weight:300;
    padding:15px 0 15px 0;
    
}

.home .nav-pills > li{
    float:none;
    display:block;
    margin:0 10px 0 10px;
}

.header .nav a{    
    color:White;
    text-transform:uppercase;
    font-size: 20px;    
}

.nav>li>a:hover,.nav>li>a:focus,.nav>li.active>a:hover{
    text-decoration:none;
    background-color:#444;
    color:White;
}
.nav>li.active>a{
    color: #f99b08;
    background: none;
}

.headWrap>.content{
    max-width:650px;
    padding: 15px 15px 100px 15px;
}

.main>.content{
    background-color: #fff;
    margin: 90px auto 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

.contentWrap{
    max-width: 960px;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 45px 10px 25px 10px;
    text-align: left;
}

.contentWrap:before{
    width: 100%;
    height: 130px;
    content: '';
    background: url(http://opendatapgh.com/img/pghFooter.png);
    background-position: center bottom;
    position: absolute;
    display: block;
    top: -105px;
    right: 0;
}
.selectBox{
    display: block;
    width: 100%;
}
.leftCol{
    width:100%;
    margin:0 0 15px 0;
    vertical-align: top;
}
.leftCol ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.leftCol ul > li:first-child{
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    border: none;
    border-bottom: solid 6px #000;
    padding: 0 0 10px 0;
    background: none;

}
.leftCol ul > li:first-child:hover{
    background: none;
    color: #000;
    cursor: default;
}
.leftCol ul > li{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    border: solid 1px #bcbcbc;
    border-bottom: none;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.leftCol ul > li.active{
    background: #686868;
    color: white;
}
.leftCol ul > li:hover{
    color: #fff;
    background: #f99b08;
}
.leftCol ul > li:last-child{
    border-bottom: solid 1px #bcbcbc;    
}
.mainCol{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.loader{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -16px;
}
.results{
    position: relative;
}
.results > div{
    border: solid 6px #dfdfdf;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 10px 30px;
    margin: 10px 0 0 0;
}
.results > div:first-child{
    margin: 0;
}
.results > div.odd{
    background: #f4f4f4;
}
.results > div:hover{
    border-color: #686868;
    cursor: pointer;
}
.results > div .listContent{
    display: table-cell;
    vertical-align: top;
    width: 77%;
}
.results > div .listType{
    display: table-cell;
    vertical-align: top;
    width: 125px;
    padding: 0 0 0 25px;
    position: relative;
}
.listType .types{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
}
.listType .types li:after{
    content:'';
    position: absolute;
    width: 34px;
    height: 34px;
    top: 50%;
    left: 50%;
    margin: -17px 0 0 -17px;
    border-radius: 100px;
    background: transparent;
    border: solid 1px #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.listType .types li{
    width: 38px;
    height: 38px;
    background: #f99b08;
    border-radius: 100px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    line-height: 38px;
    text-align: center;
    position: relative;
    margin: 0 5px 5px 0;
}
.search{
    display: block;
    background: #ededed;
    padding: 10px 10px;
    margin: 0 0 10px 0;
}
input[type=text].keywords{    
    width: 100%;
    margin: 0;
    border-radius: 0;    
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    height: 30px;
}
.search button{
    padding: 0 15px;
    background: #000;
    border: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    position: absolute;
    right: 0;
    top: 0;  
    bottom: 0;
}
.search > div{
    width: 100%;
    position: relative;
}
.totalResults{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
.results > div h3{
    color: #494949;
    text-transform: uppercase;
    margin-top: 0;
    max-width: 85%;
    word-break: break-word;
}
footer{
    background-color:White;
}

.footerWrap{
    max-width:960px;
    margin:0 auto 0 auto;
    text-align: right;
}

.terms, .social{
    display:inline-block;
    vertical-align: top;
    overflow: hidden;
}

.terms a{
    display:inline-block;
    background-color:#131313;
    color:white;
    text-decoration: none;
    padding:0 10px;
    height:40px;
    line-height: 40px;
    position: relative;
    -webkit-transition: top 0.2s;
    -moz-transition: top 0.2s;
    transition: top 0.2s;
}

.terms a:after{
    content:'Terms of Use';
    display:inline-block;
    height:40px;
    padding:0 10px;
    position: absolute;
    top:40px;
    left:0;
    background-color:#F99B08;
}

.terms a:hover{
    top:-40px;   
    -webkit-transition: top 0.2s;
    -moz-transition: top 0.2s;
    transition: top 0.2s; 
}

.social a{
    display:inline-block;
    background: url(../img/socialSprite.jpg) no-repeat;
    width: 40px;
    height: 40px;
    overflow: hidden;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}
.social a.twitter{
    background-position: -40px 0;
}
.social a.twitter:hover{
    background-position: -40px -40px;
}
.social a.gplus{
    background-position: -80px 0;
}
.social a.gplus:hover{
    background-position: -80px -40px;
}
.social a.fb:hover{
    background-position: 0 -40px;
}
form h1{
    text-transform: uppercase;
}


/* Responsive!
*****************************/
@media only screen and (min-width: 1000px){
    .logo a{
        position: absolute;
        top: 25px;
        left: 0;
    }
    
    .home .header .nav{
        padding-top: 60px;
        text-align: right;
    }
    
    .home .nav-pills > li{
        display:inline-block;
    }
        
    .contentWrap:before{
        background-repeat:no-repeat;
        background-position: right top;
        height: 196px;        
        top: -154px;
    }
    .headWrap>.content{
        padding: 100px 15px 185px 85px;
    }
    .selectBox{
        display: none;
    }
    .leftCol{
        width: 230px;
        display: inline-block;
        margin: 0 20px 0 0;
    }
    .mainCol{
        display: inline-block;
        width: 100%;
        max-width: 705px;
    }
    .mainCol.full{
        max-width: 100%;
    }
    .main>.content{
        margin: 0 auto;
    }
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}